@import url(./GLOBALS.css);

#MAIN-BOARD {
    background-color: var(--lowmid-primary);
    bottom: 0;
    box-shadow: 0 0 5px #000;
    color: var(--achromatic1);
    overflow: visible;
    position: absolute;
    top: 0;
    width: 800px;
    z-index: 3;
}

#MAIN-BOARD * {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

#CONFIGURATION {
    background-color: var(--himid-primary);
    box-shadow: 0 1px 20px #000;
    clip-path: polygon(0 0%, 0 120%, 100% 120%, 100% 0);
    display: block;
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

#DISPLAY {
    background-color: var(--lowmid-primary);
    height: 510px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}

#CONFIGURATION-TITLE {
    display: block;
    float: left;
    font-size: 24px;
    height: 40px;
    line-height: 24px;
    margin: 0;
    padding: 5px 10px;
    vertical-align: middle;
    width: 60%;
}

#CONFIGURATION-TABS {
    display: block;
    float: left;
    height: 40px;
    width: 40%;
}

#CONFIGURATION-TABS button {
    background-color: var(--himid-primary);
    border: 0;
    color: var(--achromatic1);
    display: block;
    float: left;
    font-size: 24px;
    font-weight: 700;
    height: 40px;
    line-height: 24px;
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    transition: background-color .5s;
    vertical-align: middle;
    width: 50%;
}

#ROLES,
#ROLES-FIELDSET,
#SETTINGS,
#SETTINGS-FIELDSET {
    background-color: var(--achromatic1);
    border: 0;
    display: block;
    height: 160px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;
}

#ROLES-FORM {
    background-color: var(--achromatic1);
    display: inline-block;
    height: 160px;
    padding: 5px;
    position: absolute;
}

#SETTINGS-FORM {
    background-color: var(--achromatic1);
    display: block;
    height: 160px;
    padding: 5px;
    position: relative;
    width: 100%;
}

#ROLES-SCROLLRAIL {
    bottom: 0;
    height: 16px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#ROLES-SCROLLBAR {
    height: 16px;
    position: absolute;
    width: 300px;
}

#ROLES-SCROLLBAR-VISIBLE {
    background-color: var(--lowmid-primary);
    border-radius: 15px;
    bottom: 2px;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.ROLE-GRID {
    display: inline-block;
    height: 140px;
    padding: 0 5px;
    text-align: center;
    width: 90px;
}

.CHECKMARK {
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 15px;
    margin: 8px auto 3px;
    transition: background-color .2s;
    width: 15px;
}

.ROLE-GRID:hover INPUT[TYPE=checkbox]~.CHECKMARK {
    background-color: #fff;
}

.ROLE-GRID INPUT[TYPE=checkbox]:checked~.CHECKMARK {
    background-color: var(--lowmid-primary);
}

.CHECKMARK:after {
    content: "";
    display: none;
    position: relative;
}

.ROLE-GRID INPUT[TYPE=checkbox]:checked~.CHECKMARK:after {
    display: block;
}

.ROLE-GRID .CHECKMARK:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    height: 6px;
    left: 5px;
    top: 2px;
    transform: rotate(45deg);
    width: 3px;
}

#ROLES-FIELDSET[DISABLED=true] .CHECKMARK {
    background-color: var(--hi-primary);
}

.CARD-SPRITE {
    border: 3px solid #FFF;
    border-radius: 5px;
    display: block;
    height: 108px;
    width: 80px;
}

.CARD-SPRITE.DOPPELGANGER {
    background: url(../IMG/MAIN/SPRITES.png) 0 0;
}

.CARD-SPRITE.WEREWOLF {
    background: url(../IMG/MAIN/SPRITES.png) -74px 0;
}

.CARD-SPRITE.MINION {
    background: url(../IMG/MAIN/SPRITES.png) -148px 0;
}

.CARD-SPRITE.MASON {
    background: url(../IMG/MAIN/SPRITES.png) -222px 0;
}

.CARD-SPRITE.SEER {
    background: url(../IMG/MAIN/SPRITES.png) -296px 0;
}

.CARD-SPRITE.ROBBER {
    background: url(../IMG/MAIN/SPRITES.png) -370px 0;
}

.CARD-SPRITE.TROUBLEMAKER {
    background: url(../IMG/MAIN/SPRITES.png) -444px 0;
}

.CARD-SPRITE.DRUNK {
    background: url(../IMG/MAIN/SPRITES.png) -518px 0;
}

.CARD-SPRITE.INSOMNIAC {
    background: url(../IMG/MAIN/SPRITES.png) -592px 0;
}

.CARD-SPRITE.VILLAGER {
    background: url(../IMG/MAIN/SPRITES.png) -666px 0;
}

.CARD-SPRITE.HUNTER {
    background: url(../IMG/MAIN/SPRITES.png) -740px 0;
}

.CARD-SPRITE.TANNER {
    background: url(../IMG/MAIN/SPRITES.png) -814px 0;
}

.CARD-SPRITE.UNKNOWN {
    background: url(../IMG/MAIN/SPRITES.png) -888px 0;
}

.CARD-SPRITE.UNDEFINED {
    background: url(../IMG/MAIN/SPRITES.png) -962px 0;
}

.CARD.DEAD .CARD-SPRITE {
    border-color: var(--hi-primary-negative);
    filter: invert(1);
}

.CONFIGURATION-SEATS {
    background-color: var(--himid-primary);
    border: 0;
    color: var(--achromatic1);
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: 10%;
}

#CONTENTS-READY {
    color: var(--achromatic1);
    display: block;
    float: right;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 18px;
    transition: color .2s;
}

#CONTENTS-READY-CHECKMARK {
    background-color: var(--achromatic1);
    border-radius: 75px;
    display: inline-block;
    height: 10px;
    transition: background-color .2s;
    width: 10px;
}

#CONTENTS-READY-CHECKBOX:checked~#CONTENTS-READY-CHECKMARK {
    background-color: #ef3;
}

#CONTENTS-BUTTON-ON {
    background-color: var(--hi-contrast);
    border: 0;
    color: var(--achromatic1);
    display: none;
    float: right;
    font-size: 18px;
    font-style: oblique;
    font-weight: 700;
    height: 40px;
    line-height: 18px;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    transition: background-color .5s color .5s;
    vertical-align: middle;
    width: 33%;
}

#CONTENTS-BUTTON-ON[DISABLED=true] {
    background-color: var(--low-contrast);
    color: #888;
}

#CONTENTS-BUTTON-OFF {
    background-color: var(--hi-primary);
    border: 0;
    color: var(--achromatic1);
    display: none;
    float: right;
    font-size: 18px;
    font-style: oblique;
    font-weight: 700;
    height: 40px;
    line-height: 18px;
    margin: 0;
    padding: 11px 10px;
    text-align: center;
    vertical-align: middle;
    width: 33%;
}

#GAME {
    overflow: visible;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 0;
}

#DISPLAY-CENTER,
#DISPLAY-PLAYERS {
    height: 190px;
    width: 100%;
}

#DISPLAY-PLAYERS {
    height: 320px;
}

#CENTER-TITLE,
#PLAYERS-TITLE {
    background-color: var(--low-primary);
    color: var(--custom-gold);
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    line-height: 18px;
    margin: 0;
    padding: 11px 10px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#PLAYERS-CONTENTS {
    box-shadow: inset 0 0 5px #000;
    display: block;
    height: 280px;
    padding: 10px 0;
}

#CENTER-CONTENTS,
.PLAYERS-CONTENTS {
    display: block;
    height: 130px;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

#CENTER-CONTENTS {
    box-shadow: inset 0 0 5px #000;
    height: 150px;
    padding: 10px 0;
}

.CARD {
    height: 110px;
    left: 200px;
    overflow: visible;
    perspective: 1000px;
    pointer-events: none;
    position: absolute;
    top: 300px;
    transform: translateX(5px) translateY(18px);
    width: 82px;
}

.CARD-CONTENTS {
    height: 100%;
    overflow: visible;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform .8s;
    width: 100%;
}

.CARD-FRONT,
.CARD-BACK {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.CARD-FRONT {
    transform: rotateY(0deg);
}

.CARD-GRID {
    background-color: transparent;
    border: 0;
    border-radius: 9px;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    height: 130px;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    width: 90px;
}

.CARD-NAME {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 14px;
    letter-spacing: -1px;
    line-height: 14px;
    text-align: center;
}

.CARD-PLACEHOLDER {
    border: 2px solid #fff;
    border-radius: 5px;
    height: 108px;
    width: 80px;
}

#STATUS {
    background-color: var(--achromatic1);
    box-shadow: 0 1px 20px #000;
    clip-path: polygon(0-20px, 0100%, 100%100%, 100%-20px);
    position: relative;
    width: 100%;
    z-index: 1;
}

#STATUS-TITLE,
#STATUS-TIME,
#STATUS-SUBTITLE {
    color: var(--himid-primary);
    display: block;
    font-size: 15px;
    font-style: oblique;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
}

#STATUS-TIME {
    background-color: var(--hi-primary);
    color: var(--achromatic1);
    float: left;
    width: 20%;
}

#STATUS-SUBTITLE {
    background-color: var(--low-primary);
    color: var(--achromatic1);
    float: left;
    width: 80%;
}

#STATUS-CONTENTS {
    display: table;
    height: 60px;
    width: 100%;
}

#STATUS-DESCRIPTION {
    background-color: var(--lowmid-primary);
    color: var(--achromatic1);
    display: table-cell;
    font-size: 13px;
    font-style: oblique;
    font-weight: 700;
    height: 60px;
    line-height: 20px;
    padding: 0 10px;
    position: relative;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#INFO-BOARD {
    background-color: #eee;
    bottom: 0;
    font-family: 'Roboto Slab', serif;
    left: 800px;
    position: absolute;
    right: 0;
    top: 0;
}

#CHAT-TITLE {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background: var(--himid-primary);
    box-shadow: 0 0 3px #000;
    color: var(--achromatic1);
    display: block;
    float: left;
    font-size: 20px;
    height: 30px;
    line-height: 22px;
    margin: 0;
    padding: 4px 10px;
    position: absolute;
    user-select: none;
    vertical-align: middle;
    width: 100%;
    z-index: 2;
}

#CHAT-SCROLLABLE {
    background-color: var(--achromatic1);
    bottom: 30px;
    color: #000;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 1;
}

#CHAT-FIELD {
    background-color: var(--achromatic1);
    bottom: 0;
    color: #000;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#CHAT-CONTAINER {
    left: 0;
    padding: 3px 10px 5px;
    position: absolute;
    right: 10px;
    top: 0;
}

#CHAT-SCROLLRAIL {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 16px;
    z-index: 2;
}

#CHAT-SCROLLBAR {
    height: 300px;
    position: absolute;
    width: 16px;
}

#CHAT-SCROLLBAR-VISIBLE {
    background-color: #280e17;
    border-radius: 15px;
    bottom: 2px;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.MESSAGE p {
    display: inline-block;
    margin: 1px 3px;
    overflow-wrap: break-word;
    white-space: normal;
}

.MESSAGE-EMBLEMS {
    font-weight: 700;
    margin-right: 4px;
}

.MESSAGE-AUTHOR {
    color: var(--hi-primary);
    font-weight: 700;
}

#CHAT-FORM {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#CHAT-INPUT {
    background-color: #dedede;
    border: 0 solid #000;
    box-shadow: 0 0 10px #000;
    color: #280e17;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-style: italic;
    height: 30px;
    line-height: 20px;
    padding: 5px 15px;
    width: 100%;
}

#ROLES-FORM INPUT[TYPE=checkbox],
#CONTENTS-READY-CHECKBOX,
#CHAT-SUBMIT {
    display: none;
}

#SEATS-SIT[disabled="true"],
.CARD-GRID.DEAD {
    color: var(--hi-primary);
}

.CARD[data-flip="BACK"] .CARD-CONTENTS,
.CARD-BACK {
    transform: rotateY(180deg);
}