@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
    box-sizing: border-box;
}

*[DISABLED="true"] {
    pointer-events: none;
}

body {
    margin: 0px;
}

div {
    overflow: auto;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline: 0;
}

label {
    cursor: pointer;
}

.LOADER {
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid #0066ff;
    border-left: 5px solid #0066ff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#MAIN-BOARD {
    position: absolute;
    overflow: visible;
    background-color: #1c1c1c;
    color: #dedede;
    width: 800px;
    top: 0px;
    bottom: 0px;
    font-family: 'Roboto Slab', serif;
}

#MAIN-BOARD * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#CONFIGURATION,
#DISPLAY {
    background-color: #1c1c1c;
}

#CONFIGURATION {
    display: block;
    clip-path: polygon(0 0%, 0 120%, 100% 120%, 100% 0);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 240px;
    overflow: hidden;
    box-shadow: 0px 1px 20px black;
}

#CONFIGURATION-TITLE {
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    display: block;
    float: left;
    margin: 0px;
    padding: 5px 10px;
    width: 60%;
    height: 40px;
}

#CONFIGURATION-TABS {
    display: block;
    float: left;
    width: 40%;
    height: 40px;
}

#CONFIGURATION-TABS button {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    vertical-align: middle;
    background-color: #3c3c3c;
    color: #dedede;
    text-align: left;
    display: block;
    float: left;
    margin: 0px;
    border: 0px;
    padding: 5px 10px;
    width: 50%;
    height: 40px;
    transition: background-color 0.5s;
}

#ROLES,
#ROLES-FIELDSET,
#SETTINGS,
#SETTINGS-FIELDSET {
    background-color: #dedede;
    position: relative;
    display: block;
    overflow: hidden;
    table-layout: fixed;
    white-space: nowrap;
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 160px;
}

#ROLES-FORM,
#SETTINGS-FORM {
    position: absolute;
    display: inline-block;
    background-color: #dedede;
    padding: 5px;
    height: 160px;
}

#SETTINGS-FORM {
    display: block;
    position: relative;
    width: 100%;
}

#ROLES-SCROLLRAIL {
    overflow: hidden;
    position: absolute;
    height: 16px;
    width: 100%;
    bottom: 0;
}

#ROLES-SCROLLBAR {
    position: absolute;
    width: 300px;
    height: 16px;
}

#ROLES-SCROLLBAR-VISIBLE {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    position: absolute;
    background-color: #1c1c1c;
    border-radius: 15px;
}

.ROLE-GRID {
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    width: 90px;
    height: 140px;
}

#ROLES-FORM INPUT[TYPE=checkbox] {
    display: none;
}

.CHECKMARK {
    cursor: pointer;
    display: block;
    margin: 8px auto 3px;
    height: 15px;
    width: 15px;
    background-color: #eeeeee;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.ROLE-GRID:hover INPUT[TYPE=checkbox]~.CHECKMARK {
    background-color: #ffffff;
}

.ROLE-GRID INPUT[TYPE=checkbox]:checked~.CHECKMARK {
    background-color: #4c4c4c;
}

.CHECKMARK:after {
    content: "";
    position: relative;
    display: none;
}

.ROLE-GRID INPUT[TYPE=checkbox]:checked~.CHECKMARK:after {
    display: block;
}

.ROLE-GRID .CHECKMARK:after {
    top: 2px;
    left: 5px;
    border: solid white;
    border-width: 0px 3px 3px 0px;
    width: 3px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#ROLES-FIELDSET[DISABLED=true] .CHECKMARK {
    background-color: #ff4336;
}

.CARD-SPRITE {
    display: block;
    border-radius: 5px;
    border: 3px solid white;
    width: 80px;
    height: 108px;
}

.CARD-SPRITE.DOPPELGANGER {
    background: url(../IMG/MAIN/SPRITES.png) 0 0;
}

.CARD-SPRITE.WEREWOLF {
    background: url(../IMG/MAIN/SPRITES.png) -74px 0;
}

.CARD-SPRITE.MINION {
    background: url(../IMG/MAIN/SPRITES.png) -148px 0;
}

.CARD-SPRITE.MASON {
    background: url(../IMG/MAIN/SPRITES.png) -222px 0;
}

.CARD-SPRITE.SEER {
    background: url(../IMG/MAIN/SPRITES.png) -296px 0;
}

.CARD-SPRITE.ROBBER {
    background: url(../IMG/MAIN/SPRITES.png) -370px 0;
}

.CARD-SPRITE.TROUBLEMAKER {
    background: url(../IMG/MAIN/SPRITES.png) -444px 0;
}

.CARD-SPRITE.DRUNK {
    background: url(../IMG/MAIN/SPRITES.png) -518px 0;
}

.CARD-SPRITE.INSOMNIAC {
    background: url(../IMG/MAIN/SPRITES.png) -592px 0;
}

.CARD-SPRITE.VILLAGER {
    background: url(../IMG/MAIN/SPRITES.png) -666px 0;
}

.CARD-SPRITE.HUNTER {
    background: url(../IMG/MAIN/SPRITES.png) -740px 0;
}

.CARD-SPRITE.TANNER {
    background: url(../IMG/MAIN/SPRITES.png) -814px 0;
}

.CARD-SPRITE.UNKNOWN {
    background: url(../IMG/MAIN/SPRITES.png) -888px 0;
}

.CARD-SPRITE.UNDEFINED {
    background: url(../IMG/MAIN/SPRITES.png) -962px 0;
}

.CARD.DEAD .CARD-SPRITE {
    border-color: #00bcc9;
    filter: invert(1);
}

.CONFIGURATION-SEATS {
    display: block;
    float: left;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    background-color: #1c1c1c;
    color: #dedede;
    border: 0px;
    padding: 0px;
    width: 10%;
    height: 40px;
}

#SEATS-SIT[disabled="true"] {
    color: #FF4336;
}

#CONTENTS-READY {
    float: right;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 40px;
    padding: 0px 18px;
    color: #dedede;
    transition: color 0.2s;
}

#CONTENTS-READY-CHECKBOX {
    display: none;
}

#CONTENTS-READY-CHECKMARK {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 75px;
    background-color: #dedede;
    transition: background-color 0.2s;
}

#CONTENTS-READY-CHECKBOX:checked~#CONTENTS-READY-CHECKMARK {
    background-color: #eeff33;
}

#CONTENTS-BUTTON-ON {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    line-height: 18px;
    vertical-align: middle;
    background-color: #0066ff;
    color: #dedede;
    text-align: center;
    display: none;
    float: right;
    margin: 0px;
    border: 0px;
    padding: 5px 10px;
    width: 33%;
    height: 40px;
    transition: background-color 0.5s, color 0.5s;
}

#CONTENTS-BUTTON-ON[DISABLED=true] {
    background-color: #444;
    color: #888;
}


#CONTENTS-BUTTON-OFF {
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    line-height: 18px;
    vertical-align: middle;
    background-color: #ff4336;
    color: #dedede;
    text-align: center;
    display: none;
    /* Default is "display: block", use with player variables */
    float: right;
    margin: 0px;
    border: 0px;
    padding: 11px 10px;
    width: 33%;
    height: 40px;
}

#GAME {
    overflow: visible;
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 50px;
}

#DISPLAY {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 510px;
    overflow: hidden;
}

#DISPLAY-CENTER,
#DISPLAY-PLAYERS {
    width: 100%;
    height: 190px;
}

#DISPLAY-PLAYERS {
    height: 320px;
}

#CENTER-TITLE,
#PLAYERS-TITLE {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: middle;
    background-color: #151515;
    color: #ffbf00;
    text-align: center;
    display: block;
    margin: 0px;
    padding: 11px 10px;
    width: 100%;
    height: 40px;
}

#PLAYERS-CONTENTS {
    display: block;
    height: 280px;
    padding: 10px 0px;
}

#CENTER-CONTENTS,
.PLAYERS-CONTENTS {
    display: block;
    padding: 0px 10px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    height: 130px;
}

#CENTER-CONTENTS {
    height: 150px;
    padding: 10px 0px;
}

.CARD {
    transform: translateX(5px) translateY(18px);
    position: absolute;
    top: 300px;
    left: 200px;
    overflow: visible;
    width: 82px;
    height: 110px;
    perspective: 1000px;
    pointer-events: none;
}

.CARD-CONTENTS {
    overflow: visible;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.CARD[data-flip="BACK"] .CARD-CONTENTS {
    transform: rotateY(180deg);
}

.CARD-FRONT, .CARD-BACK {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.CARD-FRONT {
    transform: rotateY(0deg);
}

.CARD-BACK {
    transform: rotateY(180deg);
}

.CARD-GRID {
    font-family: 'Roboto Slab', serif;
    background-color: #1c1c1c;
    color: #dedede;
    text-align: center;
    display: inline-block;
    margin: 0px;
    border: 0px;
    padding: 0px 5px;
    width: 90px;
    height: 130px;
}

.CARD-NAME {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    letter-spacing: -1px;
    display: block;
    height: 14px;
}

.CARD-PLACEHOLDER {
    width: 80px;
    height: 108px;
    border: 2px solid gray;
    border-radius: 5px;
}

.CARD-GRID.DEAD {
    color: #ff4336;
}

#STATUS {
    clip-path: polygon(0 -20px, 0 100%, 100% 100%, 100% -20px);
    position: relative;
    z-index: 1;
    background-color: #dedede;
    width: 100%;
    box-shadow: 0px 1px 20px black;
}

#STATUS-TITLE,
#STATUS-TIME,
#STATUS-SUBTITLE {
    color: #1c1c1c;
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    line-height: 40px;
    display: block;
    width: 100%;
    height: 40px;
}

#STATUS-TIME {
    background-color: purple;
    color: #dedede;
    float: left;
    width: 20%;
}

#STATUS-SUBTITLE {
    background-color: #151515;
    color: #dedede;
    float: left;
    width: 80%;
}

#STATUS-CONTENTS {
    display: table;
    width: 100%;
    height: 60px;
}

#STATUS-DESCRIPTION {
    position: relative;
    display: table-cell;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    vertical-align: middle;
    line-height: 20px;
    background-color: #1c1c1c;
    color: #dedede;
    table-layout: fixed;
    padding: 0 10px;
    width: 100%;
    height: 60px;
}

#INFO-BOARD {
    position: absolute;
    right: 0;
}